html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    min-height: 100%;
    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
}

.features {
    font-style: italic;
    li {
        margin-bottom: rem(20);
    }
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}