.gameNotification {
    background: #ff78f3;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 10%;
    font-size: 4vh;
}

.gameText {
    position: relative;
    top: 25%;
}

#myOverlay{
    align-content: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top:250px;
}

.lyric{
    font-size: 20px;
    background: white;
    color: black;
    border-radius: 0;
    font-style: normal;
    text-decoration: none;
    padding: 9px;
    
}

#myImage{
    position: absolute;
    z-index: 0;
    left: 0;
    top:200px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}

.lead {
    text-align: center;
    font-size: 100%;
}

#login {
    font-size: 125%
}

.photoButton{
    position: absolute;
    z-index: 3;
}

input[type="button"] {
  padding: 10px;
}

.hidden {
    color: red;
    opacity: 0;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

#lyrics{
    border-style: thick solid #000000;
    min-height: 100px;
}

.crowdQuestion{
    width: 80vw;
    border: thick solid #000000;
    border-radius: 10px;
    margin: 10px;
}

#playMusicButton{
     border: thick solid #000000;
    border-radius: 40px;
    padding: 20px;
    margin-right: -2px
}

#submissionForm{
    position: absolute;
    bottom: 0px;
}